@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kiwi+Maru:wght@300&display=swap');
.fontA{
    font-family: 'Kiwi Maru', serif;
    z-index:100;
}
.fontB{
    font-family: 'Dancing Script', cursive;
    font-size: large;
}

/* .shadowNew {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */